body {
    width: 1296px;
    margin: auto;

}


header {
    background-color: black;
    color: white;
}

.nav {
    padding-top: 5px;
}

ul {
    list-style: none;
    display: flex;
    padding: 6px;
}

li a {
    text-decoration: none;
    color: white;
    border: 1px gray solid;
    border-radius: 10px;
    background-color: gray;
    margin-right: 5px;
    padding: 5px;
}

header>h1 {
    text-align: center;
}

main {
    height: 400px;
}

#linkReceta {
    margin-top: 10px;
}

#linkReceta>a {
    text-decoration: none;
    color: white;
    border: 1px gray solid;
    background-color: gray;
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px;
}

footer {
    background-color: black;
    height: 80px;
    margin-top: 50px;
    color: white;
}

.sec_link_img {
    text-align: center;


}

.sec_link_img img {
    background-color: white;
    margin-top: 10px;
}

.footer_article {
    padding: 15px;
}

.footer_article>span {
    font-weight: 700;
    text-align: center;
    display: block;
}

.remarcar {
    font-weight: 700;
}

.container-receta p {
    text-align: justify;
}


.form-container {
    margin-bottom: 10px;
}

.form-texarea label{
    display: block;
}